body {background-color: #F9EBEA}

header{background-color:#E6B0AA;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    color: #C0392B;
    text-decoration: underline;
    font-family:courier;
    font-size: 15px;
    text-align: center
}

.logo {height: 100px;
    width: 100px;
    margin: 10px;}

.iconflex {
        display: flex;
        justify-content: space-around;
        justify-content: center;
        background-color: #F9EBEA;

    }

.icon {
        height: 50px;
        width: 50px;
        margin: 5px;}

nav {background-color: #C0392B;
   height: 100%;
   font-size: 100%;
   display: flex;
   flex-wrap: wrap;
justify-content: space-around;
   color: #C0392B;
   text-decoration: underline;
   font-family:courier;


 }

.flex_item {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
    margin: 20px;
  }

section {display: flex;
flex-wrap: wrap;
justify-content: space-around;
    margin: 20px;
  }}



nav:hover {
          background-color: white;
}
.divFlex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    font-size: 100%;
}

aside {background-color: #E6B0AA;}

.carlito{height: 10}

.rojoletra{color: #C0392B;text-align: center ;font-size:100%; font-family:courier;text-decoration: underline}


.tres{font-family:courier;    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    font-size: 110%;}
                      .UNO{color: #C0392B;text-align: center;font-family:courier;text-decoration: underline;}
                      .lista1{font-family:courier;}
                      .lista2{font-family:courier}


.TODOS{display: flex;justify-content: space-around;
flex-wrap: wrap; justify-content: center;
width: 50%}

.videito  {  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }

  .videito2  {  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px; width: 48px;
    }

.imagencarlito       {  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 48%;}

.iconowa {width:75px;
position: fixed;
bottom: 10px;
right: 15px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #E6B0AA;
    color: black;
    height: 200px;
    width: 100%;}
