body {background-color: #F9EBEA}

header{background-color:#E6B0AA;width: 1300px}

nav {background-color: #C0392B; width: 1300px; height: 60px;}

aside {background-color: #E6B0AA;width: 1000px; height: 550px;}

.carlito{height: 10}


.rojoletra{color: #C0392B;text-align: center ;font-size:300%; font-family:courier;text-decoration: underline;>
                      <div>}
.tres{font-family:courier; font-size: 20px}
                      .UNO{color: #C0392B;font-family:courier;text-decoration: underline}
                      .lista1{font-family:courier}
                      .lista2{font-family:courier}

.iconowa {width:75px;
position: fixed;
bottom: 10px;
right: 15px;
}
